RewriteEngine On

RewriteRule "^admin-home$" "admin.php?location=home"
RewriteRule "^admin/student$" "admin.php?location=student"
RewriteRule "^admin/monhoc$" "admin.php?location=monhoc"
RewriteRule "^admin/phongmay$" "admin.php?location=phongmay"
RewriteRule "^admin/kythi$" "admin.php?location=kythi"
RewriteRule "^admin/excel$" "admin.php?location=excel"
RewriteRule "^admin/student/add$" "admin.php?location=student&&modify=add"
RewriteRule "^admin/student/modify$" "admin.php?location=student&&modify=modify"
RewriteRule "^admin/student/delete$" "admin.php?location=student&&modify=delete"
RewriteRule "^admin/monhoc/add$" "admin.php?location=monhoc&&modify=add"
RewriteRule "^admin/monhoc/modify$" "admin.php?location=monhoc&&modify=modify"
RewriteRule "^admin/monhoc/delete$" "admin.php?location=monhoc&&modify=delete"
RewriteRule "^admin/phongmay/add$" "admin.php?location=phongmay&&modify=add"
RewriteRule "^admin/phongmay/modify$" "admin.php?location=phongmay&&modify=modify"
RewriteRule "^admin/phongmay/delete$" "admin.php?location=phongmay&&modify=delete"
RewriteRule "^admin/kythi/add$" "admin.php?location=kythi&&modify=add"
RewriteRule "^admin/kythi/modify$" "admin.php?location=kythi&&modify=modify"
RewriteRule "^admin/kythi/delete$" "admin.php?location=kythi&&modify=delete"
RewriteRule "^admin/kythi/id=([0-9]+)$" "admin.php?location=kythi&&kythi_id=$1"
RewriteRule "^admin/kythi/id=([0-9]+)/add$" "admin.php?location=kythi&&kythi_id=$1&&modify=add"
RewriteRule "^admin/kythi/id=([0-9]+)/modify$" "admin.php?location=kythi&&kythi_id=$1&&modify=modify"
RewriteRule "^admin/kythi/id=([0-9]+)/delete$" "admin.php?location=kythi&&kythi_id=$1&&modify=delete"
RewriteRule "^admin/kythi/id=([0-9]+)/getall$" "admin.php?location=kythi&&kythi_id=$1&&getAll=1"

RewriteRule "^student-home$" "student.php?location=home"
RewriteRule "^student/dangky$" "student.php?location=dangky"
RewriteRule "^student/indangky$" "student.php?location=indangky"
